<!DOCTYPE html>
<html>
<head>
    <title>Bicep Curl Counter</title>
    <style>
        .image {
            width: 640px;
            height: 480px;
            object-fit: contain;
        }
    </style>
</head>
<body>
    <h1>Bicep Curl Counter</h1>
    <p>Counter: {{ counter }}</p>
    <p>Stage: {{ stage }}</p>
    <img class = "image" style="display: block;-webkit-user-select: none; margin: auto;background-color: hsl(0, 0%, 25%);" src="http://localhost:8000/exercises/curl-video-stream">
</body>
</html>
